* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("asset/Untitled.png");
    background-repeat: repeat;
    background-size: cover;
    width: auto;
    font-family: cursive;
    height: 94vh;
}
.container {
    position: relative;
    width: 80%;
    height: 650px;
    margin: 60px auto;
    background-color: rgb(241, 241, 241);
    box-shadow: 5px 5px 15px black;
}
.card {
    display: flex;
    flex-wrap: wrap;
}
.card img {
    width: 60%;
    margin: 20px auto -10px;
    border-radius: 50%;
    transform: rotate(90deg);
    -webkit-filter: drop-shadow(3px 3px 5px black);
}
.nama-card {
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
}
.nama-card span{
    padding-right: 10px;
    font-weight: lighter;
}
.info-card {
    display: flex;
    padding-top: 50px;
    padding-left: 20px; 
}
.info-card ul {
    list-style: none;
    line-height: 40px;
    padding-right: 20px;
}
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    background-color: lightcoral;
    text-align: center;
}
footer ul li {
    padding-top: 5px;
    list-style: none;
    display: inline-block;
    padding-right: 8px;
}

footer ul li img {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 20%;
    box-shadow: 3px 3px 5px black;
}
@media (min-width: 992px) {
    .container {
        height: 500px;
    }
    .nama-card {
        font-size: 48px;
        margin-top: 65px;
    }
    .card img {
        width: 35%;
        padding-top: 20px;
        padding-left: 20px; 
        margin-right: 5vw;
        margin-top: 20px;
        margin-left: 45px;
    }
    footer ul li img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background-color: aliceblue;
    }
    footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 50px;
        text-align: center;
    }
    .bubble-hello {
        margin-top: 50px;
    }
}